
# This file tells which files and directories should be ignored and
# NOT downloaded when using composer to pull down a project with
# the --prefer-dist option selected. Used to remove development
# specific files so user has a clean download.

# git files
/.gitattributes     export-ignore
/.travis.yml        export-ignore

* text=auto eol=lf 
*.blade.php diff=html 
*.css diff=css 
*.html diff=html 
*.md diff=markdown 
*.php diff=php

# Don't give project files
.github/           export-ignore
contributing/      export-ignore
.editorconfig      export-ignore
CODE_OF_CONDUCT.md export-ignore
CONTRIBUTING.md    export-ignore
SECURITY.md        export-ignore
